.fa-sort {
    cursor: pointer;
}

body.navbar-hidden .navbar-vertical.navbar-expand-md.fixed-left + .main-content {
    margin-left: 0 !important;
}

body.navbar-hidden .navbar-vertical.navbar-expand-md.fixed-left {
    display: none !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
    box-shadow: 2px 2px 5px rgba(222, 18, 18, 0.68), 2px 2px 0 rgba(241, 32, 32, 0.41);
    color: #de2d2d;
}

.was-validated .form-control:invalid::placeholder, .form-control.is-invalid::placeholder, .was-validated .custom-select:invalid::placeholder, .custom-select.is-invalid::placeholder {
    color: #de2d2d;
}

.ql-snow {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    border: 0 !important;
    transition: -webkit-box-shadow .15s ease !important;
    transition: box-shadow .15s ease !important;
    transition: box-shadow .15s ease, -webkit-box-shadow .15s ease !important;
    border-radius: 0.375rem !important;
}

.card-issue {

    .card-body {
        padding: 1rem 1.5rem;
    }

    border-radius: 0px;
    cursor: pointer;
}

.detail-issue {

    .issue-description {
        img {
            max-height: 150px;
        }
    }

    border-radius: 0px;
}

.card-comments {
    border-radius: 0px;
}

.card-comment {
    img {
        max-height: 150px;
    }

    border-radius: 0px;
}

.card-document {
    height: 350px;
    border-radius: 0px;
}

.card-icon-top {

    i {
        margin-top: 40px;
        font-size: 70px;
    }

    height: 150px;
    text-align: center;
}

.workitem-thumb-user {
    width: 20px;
    border-radius: 50%;
}


.choices[data-type*="select-one"] select.choices__input {
    display: block !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.choices__inner {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    -webkit-transition: -webkit-box-shadow .15s ease;
    transition: -webkit-box-shadow .15s ease;
    transition: box-shadow .15s ease;
    transition: box-shadow .15s ease, -webkit-box-shadow .15s ease;
}

.choices__input {
    background-color: #FFFFFF;
}

.choices__list.choices__list--multiple {

    .choices__item.choices__item--selectable,
    .choices__item.choices__item--selectable.is-highlighted,
    .is-highlighted {
        border-radius: 0.375rem !important;
        background-color: #5e72e4;
        border: 0;
        font-size: 14px;
    }

    .is-highlighted {
        background-color: #3652f5;
    }

    .choices__item.choices__item--selectable.is-highlighted {
        border: 1px solid #00a5bb;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #5e72e4;
    color: #FFF;
}

.choices__list.choices__list--dropdown {
    min-width: 300px !important;
}

@media screen and (max-width: 600px) {
    .hidden-mobile {
        display: none;
    }
}

.div-thumbnail {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: #cecece;
    text-align: center;
    padding: 80px;
    color: #ffffff;
}

.card-img-footer {
    bottom: 0;
    position: absolute;
    right: 0;
}
