<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Core" connectionString="Data Source=sql.brunosecco.com,1447;Initial Catalog=BancoTeste;user id=usertest;password=me@jTyAn^7r0;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <add key="outputClassApi" value="C:\Pessoal\project-base\Project.Api" />
    <add key="outputClassDomain" value="C:\Pessoal\project-base\Project.Repository" />
    <add key="outputClassDto" value="C:\Pessoal\project-base\Project.Dto" />
    <add key="outputClassApp" value="C:\Pessoal\project-base\Project.Services" />
    <add key="outputClassFilter" value="C:\Pessoal\project-base\Project.Filter" />

    <add key="outputClassFrontend" value="C:\Pessoal\project-base\Project.Ui\src" />

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
