<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net45" />
  <package id="Microsoft.SQLServer.SMO" version="12.0.2000.8" targetFramework="net45" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net45" />
  <package id="SqlServer.Smo.Core" version="2012.2" targetFramework="net45" />
</packages>